body {
    background-color: black;
    font-size: 8px;
}
pre {
    color: darkgreen;
}
pre .star {
    color: yellow;
}
.trunk {
    color: brown;
}
.yellowLight {
    color: yellow;
}
.redLight {
    color: red;
}
.blueLight {
    color: rgb(0, 191, 255);
}
.snow {
    color: white;
}
.noSnow {
    color: black;
}
button {
    color: white;
    border: none;
    background-color: transparent;
}
#playButton {
    text-align: center;
}
#playButton i {
    font-size: 100px;
}